@import "tailwindcss";


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



/* custom properties */
@theme {
  --font-primary: "Poppins", "sans-serif";
  --color-primary: #E58411;
  --color-secondary: #1E1E1E;
  --color-secondary-bg: #F7F7F7;

}

.section-container {
    max-width: 1536px; /* equivalent to max-w-screen-2xl */
    margin-left: auto; /* mx-auto */
    margin-right: auto;
    padding-left: 2.5rem; /* px-6 */
    padding-right: 2.5rem; /* px-6 */
    padding-top: 2.5rem; /* py-6 */
    padding-bottom: 2.5rem;
}

/* Smaller, balanced Swiper arrows */
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 0.75rem;       
  padding: 0.35rem 0.55rem; 
  border-radius: 9999px;
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 0 1px #E58411;
  transition: background-color 0.2s, color 0.2s;
}

/* Hover effect */
.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
  background-color: #E58411;
  color: #fff;
}